<section>
  <ng-d3-gantt [buttonClasses]="buttonClasses" chartElementId="first-chart" [config]="config" [data]="data" >
  </ng-d3-gantt>
  <div style="display:flex;">
    <div class="override" style="width:30%; height:500px; overflow:scroll;">
      <ng-d3-gantt [buttonClasses]="buttonClasses" chartElementId="second-chart" [config]="config" [data]="data" >
      </ng-d3-gantt>
    </div>
    <div  style="width:70%; display: block; height:500px; overflow:scroll;">
      <ng-d3-gantt chartElementId="third-chart" [config]="config" [data]="data" [buttonClasses]="buttonClasses" >
      </ng-d3-gantt>
    </div>
  </div>
</section>


